In [42]:
import numpy as np
import pandas as pd

data = pd.read_csv('./data/discovery-park-clean.csv', na_values="*", index_col=0)
head = data.head(100).copy()
head

,millis,voltage,satellites,hdop,gps_altitude_m,course,speed_mps,latitude,longitude,temperature_C,pressure_Pa,pressure_altitude_m,humidity_RH
2021-05-30 16:32:04,330888,7.13,5,11.67,103.2,NaN,NaN,47.687923,-122.389694,20.43,101194.64,10.86,46.36
2021-05-30 16:32:05,331891,7.24,0,99.99,103.2,NaN,NaN,47.687923,-122.389694,20.41,101195.17,10.82,46.25
2021-05-30 16:32:06,332895,7.24,4,11.69,103.2,164.0,6.4,47.687729,-122.389587,20.35,101193.30,10.97,46.68
2021-05-30 16:32:07,333897,7.27,4,11.69,103.2,169.7,5.1,47.687717,-122.389618,20.31,101193.97,10.92,46.98
2021-05-30 16:32:08,334901,7.24,4,11.69,103.2,174.1,4.8,47.687691,-122.389656,20.30,101193.57,10.95,47.38
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-05-30 16:33:39,426307,7.21,11,0.80,83.1,308.0,0.2,47.687180,-122.389923,20.06,101212.89,9.34,46.71
2021-05-30 16:33:40,427309,7.21,11,0.80,83.4,308.0,0.0,47.687180,-122.389923,20.07,101209.78,9.60,46.67
2021-05-30 16:33:41,428313,7.21,11,0.80,83.6,308.0,0.0,47.687180,-122.389916,20.09,101215.85,9.09,46.63
2021-05-30 16:33:42,429314,7.21,11,0.94,83.6,308.0,0.0,47.687180,-122.389908,20.10,101215.33,9.14,46.60
2021-05-30 16:33:43,430317,7.24,11,0.94,83.8,308.0,0.0,47.687180,-122.389908,20.11,101212.17,9.40,46.76

In [49]:
data['smoothed_alt'] = data['gps_altitude_m'].ewm(span=10, adjust=False).mean()

from matplotlib import pyplot as plt
#plt.plot(head[['smoothed_alt', 'gps_altitude_m']])

In [50]:

data[['latitude','longitude','smoothed_alt']].to_numpy()

array([[  47.68792343, -122.3896942 ,  108.2       ],
       [  47.68792343, -122.3896942 ,  108.2       ],
       [  47.68772888, -122.3895874 ,  108.2       ],
       ...,
       [  47.65970611, -122.4134445 ,  110.17061964],
       [  47.65970611, -122.4134445 ,  110.23050698],
       [  47.65970611, -122.4134369 ,  110.3704148 ]])

In [51]:
import simplekml
kml = simplekml.Kml()

simplekml.LineString()
path = kml.newlinestring(name='Actual path')
path.coords = data[['longitude','latitude','smoothed_alt']].to_numpy()
path.extrude = 1
path.altitudemode = simplekml.AltitudeMode.absolute

kml.save('./data/discovery-park.kml')